1. Print your name and date

In [ ]:
name = 'Fearless Into Tech'
date = '15-05-2022'

print('Name: {} \nDate: {}'.format(name,date))

Name: Fearless Into Tech
Date: 15-05-2022

2. Create two variables having string value and numeric value.
Add them together in third variable and print and check the result, what happens.

In [ ]:
st = 'Sunday'
num = 5
result = st + num
print(result)

TypeError: ignored

 3. Create two variables having integer value and float value. Multiply them together in third variable and print and check the result, if it's bringing the right output

In [ ]:
num1 = 24
num2 = 12.02

mul = num1 * num2
print(mul)

288.48

4. Define a string variable and try to slice them and print the output with comment expalining your actions.

In [ ]:
text = 'Fearless Into Tech'
print(text[2:6])      # slicing from 3rd value to 6th

arle

5. Define a list and add two lists together to check, if its adding or not.

In [ ]:
lst1 = [2,4,6,8,10]
lst2 = [10,20,30,40,50]

print(lst1+lst2)

[2, 4, 6, 8, 10, 10, 20, 30, 40, 50]

6. Define a dictionary with key and values, where at least one value is a list or tuple. Print the dictionary.

In [ ]:
pair = {'name' : 'Sugandh', 'subject' : 'Python', 'grades' : [4,7,10,2,12]}
print(pair)

{'name': 'Sugandh', 'subject': 'Python', 'grades': [4, 7, 10, 2, 12]}

7. Define tuple and check if it can be double up with * and print it.

In [ ]:
tup = (10,20,30,40,50)
print(tup*2)

(10, 20, 30, 40, 50, 10, 20, 30, 40, 50)

In [ ]:
lst=[]
for i in tup:
    lst.append(i*2)
print(lst)

[20, 40, 60, 80, 100]

8. What is output for âˆ’ b = [11,13,15,17,19,21] print(b[:2])

In [ ]:
b = [11,13,15,17,19,21] 
print(b[:2])

[11, 13]

9. What will you get in the output - dict = {'F_Name': 'Zara', 'Age': 7, 'L_Name': 'Manni'}  print(dict['L-Name'])

In [ ]:
dict = {'F_Name': 'Zara', 'Age': 7, 'L_Name': 'Manni'} 
print(dict['L_Name'])

Manni

10. What will you get, when - tup1 = ('physics', 'chemistry', 1997, 2000)  tup1[0]='Art'

In [ ]:
 tup1 = ('physics', 'chemistry', 1997, 2000) 
 tup1[0] ='Art'

TypeError: ignored

**What will be the output of the following code:**
<br> 

---


11. for i in "Myblog":<br>
    print (i, '?')

In [ ]:
for i in "Myblog":
  print(i, '?')

M ?
y ?
b ?
l ?
o ?
g ?

12.Check what happens


---

x=5 <br>
while(x<15):<br>
  print(x**2)<br>
  x+=3

In [ ]:
x=5
while(x<15):
  print(x**2)
  x+=3

25
64
121
196

13.Write program to print the following pattern.

---



1

1 2

1 2 3

1 2 3 4

In [1]:
for i in range(1,6):
  for j in range (1,i):
    print(j, end=' ')
  print('\n')

1

1 2

1 2 3

1 2 3 4

Example of a user defined function:

In [ ]:
def absolute_value(num):
    """This function returns the absolute
    value of the entered number"""

    if num >= 0:
        return (num)
    else:
        return (-num)


print(absolute_value(2))

print(absolute_value(-4))

14. Create a function, that returns the statement, if thr value is even or odd, while passing the number as argument in calling function.

In [2]:
def evenOdd(num):
  if num % 2 == 0:
    return ('The number is even.')
  else:
    return('The number is odd.')


print(evenOdd(2))
print(evenOdd(5))

The number is even.
The number is odd.